<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4">
    <form (ngSubmit)="saveProfile(profileForm?.value)" [formGroup]="profileForm!" autocomplete="off" novalidate>
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <em *ngIf="!validateFirstName() && profileForm?.controls?.firstName?.errors?.required">Required</em>
        <em *ngIf="!validateFirstName() && profileForm?.controls?.firstName?.errors?.pattern">Must start wit a letter</em>
        <input [ngClass]="{'error': !validateFirstName()}" formControlName="firstName" id="firstName" type="text" class="form-control" placeholder="First Name..." />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <em *ngIf="!validateLastName()">Required</em>
        <input [ngClass]="{'error': !validateLastName()}" formControlName="lastName" id="lastName" type="text" class="form-control" placeholder="Last Name..." />
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
      <button type="button" (click)="logout()" class="btn btn-warning" style="float: right;">Logout
      </button>
    </form>
  </div>
</div>
